<!DOCTYPE html>
{% load staticfiles %}
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>
   <meta charset="utf-8">
	<title>{% block title %}{% endblock %}</title>
	<meta name="description" content="reditReader">  
	<meta name="author" content="Vic Kumar">

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="{% static "css/default.css" %}" />
    <link rel="stylesheet" href="{% static "css/layout.css" %}" />
    <link rel="stylesheet" href="{% static "css/media-queries.css" %}" /> 

	<script src={% static "js/modernizr.js" %}" ></script>

    <link rel="shortcut icon" href="favicon.png" >
    {% block extra_head %}{% endblock %}
</head>

<body class="page">

    {% block content %}
    {% endblock %}
      
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>   
   <script>window.jQuery || document.write('<script src="/static/js/jquery-1.10.2.min.js"><\/script>')</script>
   <script type="text/javascript" src="/static/js/jquery-migrate-1.2.1.min.js"></script>  
   <script src="/static/js/main.js"></script>

   {% block extra_body %}{% endblock %}
</body>

</html>
