{% extends "base.html" %}

{% block title %}ReditReader Example{% endblock %}

{% block content %}
    <div id="content-wrap">
        <div class="twelve columns">
            <input type="text" id="redits" size=40 value="Search..." onblur="if(this.value == '') { this.value = 'Search here...'; }" onfocus="if (this.value == 'Search here...') { this.value = ''; }" class="text-search" />
            <input type="submit" id="async_reload" value="Search" class="submit-search" />
        </div>
        <div class="row">
            <div id="main" class="twelve columns">
                <section class="page">                    
                    <div class="row" id="message"></div>
                    <div class="row" id="redit_info"></div>			
                </section>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_body %}
    <script>
        $(function () {
            $("#async_reload").on("click", function(event) {
                reload_redits();
            });

            var t0 = null;
            var sync_mode = true;

            function reload_redits() {
                $("#message").text("Loading ...");
                $("#redit_info").text("");
                var search_redits = $("#redits").val();
                t0 = new Date();

                $.ajax({
                    type: "POST",
                    url: "redit_reader/get_redits/",
                    data: { search: search_redits },
                    cache: false,
                    crossDomain: false,
                    dataType: 'json'
                }).done(function(data) {
                    on_redits_received(data);
                });
            }

            function on_redits_received(data) {
                console.log(data.reddits);
                var total_items = 0;
                $.each(data.reddits, function(reddit, reddit_list) {
                    $.each(reddit_list, function(i, item) {
                        item_html = "<div class='four columns'>\n";
                        item_html += "<p><a href='" + item.link + 
                            "' target='_blank'>" + "<b>[#" + reddit + "]</b> " + item.title + "</a></p>\n"
                        if ("image_url" in item) {
                            item_html += "<p><img src='" + item.image_url + "' /></p>";
                        }
                        $("#redit_info").append(item_html + "</div>");
                        total_items += 1;
                    });
                });
                $("#message").text("Results: " + total_items + " (" + data.elapsed_time + " secs.)");
            }

        });
    </script>
{% endblock %}